{% extends 'expenses/base.html' %}
{% load static %}
{% block title %}groupppp{% endblock %}
{% block content %}

<div class="header">
    <h2>Fair Share</h2>
    <div class="sub-header">
        <h2>Create a Group</h2>
    </div>
</div>
    <div class = "content">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="group_name">Group Name:</label>
                <input type="text" id="group_name" name="group_name" required>
            </div>
            <div class="form-group">
                <label for="members">Members:</label>
                <input type="text" id="members" name="members">
                <button class="add-member-btn" type="button" onclick="addMember()">Add</button>
                <br><br>
                <div class="member-list" id="member_list"></div>
                <input type="hidden" id="member_list_input" name="member_list"> <!-- Move this field inside the form -->
            </div>
            <div class="form-group">
                <button class="create-group-btn" type="submit">Create Group</button>
            </div>
        </form>
    </div>
    <script>
        
        let members = []; // Array to store member data
        function addMember() {
            const memberInput = document.getElementById("members");
            const memberName = memberInput.value.trim();
            if (memberName!== "") {
                members.push({ name: memberName }); // Add member to array
                memberInput.value = "";
                renderMembers();
            }
        }
        function removeMember(index) {
            members.splice(index, 1); // Remove member from array
            renderMembers();
        }
        function renderMembers() {
            const memberList = document.getElementById("member_list");
            memberList.innerHTML = ''; // Clear the list
        
            members.forEach((member, index) => {
                const memberItem = document.createElement('div');
                memberItem.classList.add('member-item');
                memberItem.innerHTML = `
                    <span>${member.name}</span>
                    <button class="remove-button" onclick="removeMember(${index})">X</button>
                `;
                memberList.appendChild(memberItem);
            });
        
            // Update the value of the hidden input field
            const memberListInput = document.getElementById("member_list_input");
            memberListInput.value = JSON.stringify(members);
        }
        
        // Add an event listener to the form's submit event
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form");
            form.addEventListener("submit", function() {
                renderMembers(); // Call renderMembers when the form is submitted
            });
        });
    </script>

{% endblock content %}