{% extends 'expenses/base.html' %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <h1>Dashboard</h1>

  <a href="{% url 'create_group' %}" class="btn btn-primary">Get Started</a>
<br><br>
  <h2>Select from already made Groups</h2>
  
    {% for group in groups %}
      <p>
        <a href="{% url 'group_detail' group.id %}">{{ group.grp_name }}</a>
      </p>
    {% endfor %}


  {% comment %} {% endif %} {% endcomment %}
  {% comment %} {% endfor %} {% endcomment %}
{% endblock %}
