{% extends 'expenses/base.html' %}

{% block title %}groupppp{% endblock %}

{% block content %}
<h1>"{{ group.grp_name }}"</h1>

    <h2>Members</h2>
    <ul>
        {% for member in members %}
            <li>{{ member }}</li>
        {% endfor %}
    </ul>

    <h2>Transactions</h2>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction.payer.name }} paid {{ transaction.amount }} for {{ transaction.description }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_transaction' group.id %}"><button class="btn btn-primary" type="submit">Add transaction</button></a>
    <a href="{% url 'add_member' group.id %}"><button class="btn btn-primary" type="submit">Add Member</button></a>
    {% comment %} <a href="{% url 'split_expenses' group.id %}"><button class="btn btn-primary" type="submit">Split Expenses</button></a> {% endcomment %}
    <a href="{% url 'group_detail' group.id %}?split_expenses=true"><button class="btn btn-primary" type="submit">Split Expenses</button></a>
    

    {% if settlements %}
    <h2>Settlements</h2>
    <ul>
    {% for settlement in settlements %}
        <li>{{ settlement }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% endblock %}






















    {% comment %} 
    
    
    
    <h1>{{ group.name }}</h1>
    
    <ul>
        {% for member in members %}
        <li>{{ member }} <a href="{% url 'remove_member' group.id %}">Remove</a></li>
        {% endfor %}
    </ul>
    
    <form method="post">
        {% csrf_token %}
        <input type="text" name="member_name" placeholder="Member Name"> {% endcomment %}