{% extends 'expenses/base.html' %}
{% load static %}
{% block title %}groupppp{% endblock %}

{% block content %}
<div class="header">
    <h1>Fair Share</h1>
    <div class="sub-header">
        <h2>{{group.grp_name}}</h2>
        {% for member in group.members.all %}
            {{ member.name }} •
        {% endfor %}

</div>
</div>
    <div class="content">

        <a href="{% url 'add_transaction' group.id %}"><button type="submit"class="add-transaction-button">Add a transaction</button></a>
        
         {% for transaction in transactions %}
        <div class="payment">
            <h2>{{ transaction.description }}</h2>
            <p class="payer">{{ transaction.payer.name }} paid on {{transaction.date }}</p>
            <p class="amount">Rs {{ transaction.amount }}</p>
        </div>
        <hr>
        {% endfor %}

        {% if settlements %}
        <h3>How to liquid...</h3>
      
        
        {% for settlement in settlements %}
        <div class="liq">

            <p>
                {{ settlement.debtor_name }} → {{ settlement.creditor_name }} 
            </p>    
            <p class =" set_amount">
                {{ settlement.settle_amount }}
            </p>
                
        </div>
        {% endfor %}

        <a href="{% url 'add_transaction' group.id %}"><button type="submit"class="add-transaction-button">Edit Group</button></a>
        


    </div>
    {% endif %}
    
    {% endblock %}
    





















    {% comment %} 
    
    
    
    <h1>{{ group.name }}</h1>
    
    <ul>
        {% for member in members %}
        <li>{{ member }} <a href="{% url 'remove_member' group.id %}">Remove</a></li>
        {% endfor %}
    </ul>
    
    <form method="post">
        {% csrf_token %}
        <input type="text" name="member_name" placeholder="Member Name"> {% endcomment %}