
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
  }
  /* .container {
    max-width: 500px;
    margin: 5px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  .inner- container {
    max-width: 500px;
    margin: 5px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .header {
    background-color: #e99898;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .sub-header {
    background-color: #e99898;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.content {

padding: 10px;

}
  .form-trn{
    padding: 10px;
  }
 
  .header h2 {
    margin: 0;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  .form-group input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .form-group input[type="text"]:focus {
    border-color: #aaa;
  }
  .add-member-btn {
    background-color: #e99898;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-member-btn:hover {
    background-color: #e99898;
  }
  .member-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .member-item {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background-color: lightgray;
    border-radius: 5px;
  }
  .remove-button {
    margin-left: 5px; /* Add some space between the text and the button */
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .create-group-btn {
    background-color: #e99898;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .create-group-btn:hover {
    background-color: #f28989;
  }

  .add-transaction-button {
    background-color: #e99898;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;

    box-sizing: border-box; /* Ensures padding and border are included in the width */
    text-align: center; /* Centers the text */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow if any */
    text-overflow: ellipsis; 
  }
  .add-transaction-button:hover {
    background-color: #f28989;
  }
  .recent-grp {
    cursor: default;
    text-decoration: none;
    color: inherit;
  }

  .payment {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.payment h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.payment .right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.payment .right-side span.amount {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.payment .right-side a.edit-link {
    text-decoration: none;
    color: #337ab7; /* Use a blue color for the edit link */
}

.payment .right-side a.edit-link:hover {
    color: #23527c; /* Add a hover effect */
}

.payment .right-side a.edit-link i.fa-edit {
    font-size: 1.2em; /* Make the edit icon slightly larger */
}

.payment .payer {
    margin-bottom: 10px;
}

.liq {
  display: flex;
  justify-content: space-between;
}

.liq span {
  display: inline-block;
}

.liq .set-amt {
  text-align: right;
}

.edit-img{
    height: 15px;
    width: 15px;

}


