body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}
.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.header h2 {
  margin: 0;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
}
.form-group input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}
.form-group input[type="text"]:focus {
  border-color: #aaa;
}
.add-member-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-member-btn:hover {
  background-color: #3e8e41;
}
.member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.member-item {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: lightgray;
  border-radius: 5px;
}
.remove-button {
  margin-left: 5px; /* Add some space between the text and the button */
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.create-group-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create-group-btn:hover {
  background-color: #3e8e41;
}
